# App config
APP_NAME=todo_app
APP_ENV=dev
APP_URL=http://localhost
APP_PORT=8080

# DB config
DB=mongoDB
DB_HOST=0.0.0.0
DB_PORT=27017
DB_NAME=todo_app
DB_USERNAME=XXXXXXX
DB_PASSWORD=XXXXXXX
NEW_URL_PARSER=true
UNIFIED_TOPOLOGY=true
CREATE_INDEX=true

# jwt config
JWT_SECRET=XXXXXXXXXXXXXXXX