# App config
APP_NAME=todo_app
APP_ENV=dev
APP_URL=http://localhost
APP_PORT=8080

# DB config
DB=mongoDB
DB_HOST=0.0.0.0
DB_PORT=27017
DB_NAME=todo_app
DB_USERNAME=XXXXXXX # Keep empty if running mongoDB locally
DB_PASSWORD=XXXXXXX # Keep empty if running mongoDB locally
NEW_URL_PARSER=true
UNIFIED_TOPOLOGY=true
CREATE_INDEX=true

# jwt config
JWT_SECRET=XXXXXXXXXXXXXXXX

# Super Admin seeder data
SUPERADMIN_NAME='Super Admin'
SUPERADMIN_EMAIL=superadmin@example.com
SUPERADMIN_PASSWORD=supersecurepassword